@import url('https://fonts.googleapis.com/css2?family=Anton&family=Work+Sans:wght@400;500;600;700&display=swap');

:root {
    /* Colores */
    --color-background: #F0EADD;

    --color-brand: #AF4C31;
    --color-accent: #D88E49;

    --color-green: #9AA978;
    --color-green-soft: #C6C8AC;

    --color-text: #221C16;
    --color-text-muted: #8C8A80;
    --color-text-light: #E1DED4;

    /* Tipografías */
    --font-display: 'Anton', sans-serif;
    --font-body: 'Work Sans', sans-serif;

    /* Tamaños de texto */
    --text-small: 0.875rem;
    --text-body: 1rem;
    --text-large: 1.25rem;
    --text-h2: 3rem;
    --text-h1: 6rem;

    /* Espaciado */
    --spacing-xs: 0.5rem;
    --spacing-sm: 1rem;
    --spacing-md: 2rem;
    --spacing-lg: 4rem;
    --spacing-xl: 8rem;

    /* Bordes */
    --radius-sm: 8px;
    --radius-lg: 24px;

    /* Contenedor */
    --container-width: 1200px;
}

html {
    scroll-behavior: smooth;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: var(--color-background);
    color: var(--color-text);
    font-family: var(--font-body);
}

.navbar {
    position: relative;
    width: 100%;
    height: 800px;

    font-family: var(--font-display);
    color: var(--color-text-muted);
    text-decoration: none;

    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    padding: 1rem 2rem;
    z-index: 1002;
    clip-path: polygon(
        0 0,
        100% 0,
        100% 70%,
        0 100%
    );

    background: var(--color-text);
    transition:
        height 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        padding 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        clip-path 0.5s cubic-bezier(0.4, 0, 0.2, 1),
        background 0.4s ease,
        backdrop-filter 0.4s ease;
}
.navbar.scrolled {
    position: fixed;

    top: 0;
    left: 0;

    height: 65px;

    padding: 0.5rem 2rem;

    background: var(--color-text);

    backdrop-filter: blur(40px);

    clip-path: polygon(
        0 0,
        100% 0,
        100% 100%,
        0 100%
    );
}

.nav-links {
    display: flex;
    gap: 2rem;
    z-index: 1000;
}

#hero {
    min-height: 50vh;
}

.navbar a {
    font-size: clamp(1.2rem, 2vw, 2rem);
    color: var(--color-text-light);
    font-family: var(--font-display);
    text-decoration: none;
}

.nav-links a:hover {
    color: var(--color-text-muted);
}

.menu-button {
    width: 60px;
    height: 60px;
    
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 8px;

    background: none;
    border: none;

    cursor: pointer;

    z-index: 1002;
    margin-top: -5px;
}

.menu-button span {
    width: 50px;
    height: 8px;

    background: var(--color-text-light);

    transition:
        transform 0.3s ease,
        opacity 0.3s ease;
}

.menu {
    position: fixed;

    inset: 0;

    width: 100%;
    height: 100vh;

    background: var(--color-bg);

    display: flex;
    align-items: center;
    justify-content: center;

    opacity: 0;
    visibility: hidden;

    transition:
        opacity 0.3s ease,
        visibility 0.3s ease;

    z-index: 1001;
}

.menu.open {
    opacity: 1;
    visibility: visible;
}

.menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;

    gap: 1.5rem;
}

.menu-links a {
    font-size: 3rem;

    text-decoration: none;
    color: var(--color-text);
}

.menu-button.open span:nth-child(1) {
    transform: translateY(7px) rotate(45deg);
}

.menu-button.open span:nth-child(2) {
    opacity: 0;
}

.menu-button.open span:nth-child(3) {
    transform: translateY(-7px) rotate(-45deg);
}

.footer {
    background: var(--color-primary);
    color: white;
}

.logo img {
    width: 700px;
    height: 700px;
    object-fit: contain;
    transition: width 0.5s cubic-bezier(0.4, 0, 0.2, 1), height 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.slogan {
    position: absolute;

    left: 40%;
    top: 30%;

    font-family: var(--font-display);
    font-size: clamp(1.2rem, 5vw, 5rem);

    color: var(--color-text-light);
}

.navbar.scrolled .logo img {
    width: 50px;
    height: 50px;
}